@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');
:root{
	--blue:#0e6dbd;
	--dark-blue:#005586;
  
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    
}
.container{
	max-width: 1200px;
	width: 100%;
	height: auto;
	border: 1px solid black;
	margin: 0 auto;

}
.header{
	height: 70px;
	width: 100%;
}
nav{
	width: 98%;
	height: 60px;
	background: var(--blue);
	margin: 0 auto;
	border-radius: 10px;
	color: white;
}
 nav ul{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
nav ul li{
    margin: 10px;
}
nav ul li a{
	color: white;
}


.content{
	width: 97%;
	height: 370px;
	margin: 20px 0;
	border: 1px solid var(--blue);
	border-radius: 10px;
	margin: 20px auto;
}
.content-title{
	width: 100%;
	height: 40px;
	border-radius: 10px 10px 0 0;
    background: var(--blue);
    display: flex;
    align-items: center;
    color: white;
    padding: 0 10px;
}
.radio-box-content{
	width: 100%;
	margin-top: 40px;
	height: 60px;
	display: flex;
	padding-left: 20px;
	align-items: center;
}
.radio-box-content input{
	margin: 0 10px;
	color: rgb(0,0,0,.6);
	font-weight: 500;
}
.input-box{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.input-box .details label{
   color: rgb(0,0,0,.6);
   font-weight: 500;
}
.SearchFullName{
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.SearchFullName > .details{
	margin: 0 20px;

}
.input-box .details input{
	height: 40px;
	width: 270px;
	border-radius: 5px;
	border: 1px solid rgb(0,0,0,.3);
	outline: none;
	box-shadow: rgba(225,228,232,0.5) 1px 0 0 inset;
	padding: 10px;
}
.input-box .details input:focus{
	box-shadow: rgba(3,102,214,0.3) 0 0 0 3px;
}
.search-btn-box{
	width: 100%;
	margin-top: 40px;
 }
 .search-btn-box button{
 	float: right;
 	margin: 0 50px;
 	padding: 9px 40px;
 	border-radius: 10px;
 	border: 1px solid var(--dark-blue);
 	background: var(--blue);
 	color: white;
 	font-size: 17px;
 	cursor: pointer;
 }